
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Great+Vibes&family=Poly:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Font para textos */
/* font-family: 'Poppins'; */

@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Great+Vibes&family=Poly:ital@0;1&display=swap');
/* Font p/ links */
/* font-family: 'Poly'; */


@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Great+Vibes&display=swap');
/* Fonte cursiva */
/* font-family: 'Great Vibes'; */

/* Reseta padding e margin */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor_de_funco);
}

.site {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

:root {
    --cor_de_funco: #FEFBF3;
    --cor_dourado: #DAA522;
    --font_titulo: 'Great Vibes';
    --para_texto: 'Poppins';
    --font_links: 'Poly';
    --negrito_normal: normal;
    --marrom_do_header: #985C41;
    --para_separar_a_secoes: 100px 0;
    --fundo_verde_secao: rgba(230, 234, 225, 0.5);
    
    --cor_da_fonte: #241810;
}

/* Header */
header .site {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

header .site nav ul {
    display: flex;
    width: 700px;
    justify-content: space-around;
}

header .site nav ul li a {
    color: black;
    font-size: 20pt;
    font-weight: 400;
    font-family: var(--para_texto);
}

header .site nav ul li a:hover {
    color: var(--cor_dourado);
}

/* Ben Vindo */
.ben_vindo {
    padding: var(--para_separar_a_secoes);
}

.ben_vindo .site {
    max-width: 1400px;
}

.ben_vindo .site .lado_a_lado,
.qualidade_especial .site .lado_a_lado, .sobre_pessoa .site .lado_a_lado {
    display: flex;
    justify-content: space-between;
}

.ben_vindo .site .guloseimas {
    width: 35%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}

.ben_vindo .guloseimas h2,
.qualidade_especial .site h2, .sobre_pessoa .site .sobre h2 {
    font-family: var(--font_titulo);
    font-size: 48pt;
    text-align: center;
}

.ben_vindo .guloseimas h3 {
    font-size: 20pt;
    font-weight: var(--negrito_normal);
    text-align: center;
}

.ben_vindo .guloseimas a {
    padding: 30px 70px;
    background-color: var(--marrom_do_header);
    border-radius: 30px;
    color: white;
    font-size: 18pt;
    font-weight: var(--negrito_normal);
}
.ben_vindo .guloseimas a:hover {
    color: var(--cor_dourado);
}

.ben_vindo .site .lado_a_lado .img_01 {
    height: 500px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ben_vindo .site .lado_a_lado .img_02 {
    height: 500px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* Title and Subtitle */
.title {
    display: flex;
    justify-content: center;
    font-family: "Great Vibes", cursive;
    font-size: 48pt;
    margin: 5px;
}

.subtitle {
    font-size: 28pt;
    display: flex;
    justify-content: center;
    margin: 1px;
    font-family: var(--para_texto);
}

/* Highlights Section */
.highlights {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 330px;
    margin: 20px;
}

.box .img_01 {
    display: flex;
    align-items: center;
    text-align: center;
    height: 400px;
}

.box .img_02 {
    margin: 20px;
}
.box .img_03 {
    display: flex;
    align-items: center;
    text-align: center;
    height: 400px;
}

.box img {
    margin: 10px;
    width: 330px;
    height: 300px;
    margin: 10px;
}
.box img:hover{
    transition: 0.5s ease;
    transform: scale(1.2);
}

.box h3 {
    font-size: 21pt;
    align-items: center; 
    text-align: center; 
    font-family: var(--para_texto);
}

.box p {
    font-size: 18pt;
    align-items: center;
    text-align: center;
    font-family: var(--para_texto); 
}

.space {
    padding: var(--para_separar_a_secoes);
}


/* Qualidade Especial */
.qualidade_especial {
    padding: var(--para_separar_a_secoes);
    background-color: var(--fundo_verde_secao);
}

.qualidade_especial .site .alta_qualidade {
    background-image: url(../img/produto_03.svg);
    width: 400px;
    height: 420px;
    background-repeat: no-repeat;
}

.qualidade_especial .site .alta_qualidade .verde {
    width: 218px;
    height: 149px;
    background-color: #0B3222;
    position: relative;
    left: 260px;
    top: 334px;
    margin: 0;
    display: flex;
    align-items: center;
}

.qualidade_especial .site .alta_qualidade .verde p {
    color: white;
    font-weight: 500;
    text-align: center;
    font-family: Poppins;
    margin: 0 4px;
    line-height: 20px;
}

.qualidade_especial .site .lado_a_lado .encomenda {
    width: 50%;
}

.qualidade_especial .site .lado_a_lado .encomenda h3 {
    margin-top: 30px;
    font-size: 20pt;
    font-weight: var(--negrito_normal);
    font-family: Poppins;
    line-height: 35px;
    color: var(--cor_da_fonte);
}

.qualidade_especial .site .lado_a_lado .encomenda p {
    margin: 30px 0;
    font-size: 15pt;
    font-weight: var(--negrito_normal);
    font-family: var(--para_texto);
    line-height: 30px;
    color: var(--cor_da_fonte);
}

.qualidade_especial .site .lado_a_lado .encomenda .hr_doces h4,
.qualidade_especial .site .lado_a_lado .encomenda .hr_doces strong {
    margin: 10px 0;
    font-size: 25pt;
    font-weight: var(--negrito_normal);
    color: var(--cor_da_fonte);
    font-family: var(--para_texto);
}

.sobre_pessoa{
    padding: var(--para_separar_a_secoes);
}
.sobre_pessoa .site .sobre{
width: 60%;
display: flex;
align-items: center;
flex-flow: column nowrap;
justify-content: center;
}

.sobre_pessoa .site .sobre p{
    font-size: 18pt;
    font-weight: var(--negrito_normal);
    font-family: var(--para_texto);
    text-align: center;
    line-height: 35px;
    margin-bottom: 50px;
}

.sobre_pessoa .site .sobre a{
border:  1px solid #241810;
padding: 10px;
color: black;
font-weight: bold;
display: flex;
align-items: center;
border-radius: 10px;
}

.sobre_pessoa .site .sobre a:hover{
    background-color: #985C41;
    color: white;
}

.sobre_pessoa .site .sobre a strong img{
    width: 20px;
    height: 20px;
    margin-left: 30px;
}

.banner_chocolate{
    padding: var(--para_separar_a_secoes); 
}

.banner_chocolate .banner{
    background-image: url(../img/efeito_paralax.jpg);
    height: 700px;
    height: 80vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}





.banner_chocolate {
    background-image: url(../img/paralex_chocolate.jpeg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 7px 7px 3px black;
    padding: 50px 0;
    height: 500px;
}



.livro {
    background-image: url(img/background002.jpg);
    background-position: right bottom;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 7px 7px 3px black;
    padding: 50px 0;
    margin-top: 43px;

}


