@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Great+Vibes&display=swap');
/* font-family: "Great Vibes", cursive; */

* {
    padding: 0;
    margin: 0;
}

.site {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
    font-family: "Great Vibes", cursive;
}

.subtitle {
    color: red;
    display: flex;
    justify-content: center;
    font-weight: 24p;
    

}